
<%- include("header") -%>

<h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde doloremque iusto similique? Hic eos recusandae atque. Numquam ut vero, at voluptatum tenetur ipsam sequi placeat autem reprehenderit nulla natus? Earum!</h2>

<%- include("footer") -%> 